{% extends "base.html" %}
  {% block title %}用戶資料{% endblock %}
  {% block extra_css %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/avatar.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
  {% endblock %}
  {% block content %}
      <h1>用戶資料</h1>
      <a href="{{ url_for('index') }}">返回首頁</a>
      <div class="user-profile">
          <img src="{{ url_for('static', filename='sayakaanony.png') }}" alt="User Avatar" class="profile-avatar">
          <h2>用戶名: {{ user.username }}</h2>
          <p>角色: {{ role }}</p>
          <h3>發文記錄</h3>
          {% for post in posts %}
              <div class="post">
                  <h4>{{ post.title }}</h4>
                  <p>{{ post.content }}</p>
                  <small>發文時間: {{ post.created_at }}</small>
                  <a href="{{ url_for('post', post_id=post.id) }}">查看</a>
                  {% if current_user.is_authenticated and (current_user.id == post.user_id or current_user.is_admin) %}
                      <form action="{{ url_for('delete_post', post_id=post.id) }}" method="post" style="display:inline;">
                          <button type="submit" class="delete-btn">刪除</button>
                      </form>
                  {% endif %}
              </div>
          {% endfor %}
      </div>
  {% endblock %}